<div class="flex justify-center items-center min-h-screen">
  <div class="bg-white shadow-md rounded-lg w-full max-w-md p-6 mt-12 mb-12">
    <h2 class="text-2xl font-semibold text-center mb-6">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "space-y-6") do |f| %>
      <div class="space-y-1">
        <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
      </div>

      <div class="space-y-1">
        <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center">
          <%= f.check_box :remember_me, id: "remember_me", class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
          <%= f.label :remember_me, for: "remember_me", class: "ml-2 block text-sm text-gray-900" %>
        </div>
      <% end %>

      <div>
        <%= f.submit "Log in", class: "w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500 focus:outline-none" %>
      </div>
    <% end %>

    <%= render "patients/shared/links" %>
  </div>
</div>
