<%= form_with model: appointment, url: patients_appointments_path, class: "space-y-6" do |form| %>
  <div>
    <%= form.label :admin_id, "Select a Doctor", class: "block text-sm font-medium text-gray-700 mb-2" %>
    <%= form.collection_select :admin_id, Admin.all, :id, :email, { prompt: "Select a Doctor" }, class: "w-full px-3 py-2 border rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500 text-gray-700" %>
  </div>

  <div>
    <%= form.label :appointment_date, "Select Appointment Month, Date, and Time", class: "block text-sm font-medium text-gray-700 mb-2" %>
    <%= form.datetime_select :appointment_date, 
        { discard_year: true, discard_minute: true }, 
        class: "w-full px-3 py-2 border rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500 text-gray-700" %>
  </div>

  <div class="text-center">
    <%= form.submit 'Book Appointment', class: "px-6 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-500 focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:outline-none" %>
  </div>
<% end %>
